{% extends "base.html" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='collage.css') }}">
{% endblock %}

{% block content %}
    <pre>{{ username }}</pre>

    <img id="target" src="">

    <div id="loader"></div> 

    <script type="text/javascript">
        let loader = document.getElementById("loader")
        let img = document.getElementById("target")
        let response = fetch("/img?username={{ username }}")
        response
            .then(r => r.blob())
            .then(blob => {
                url = URL.createObjectURL(blob)
                console.log(url)
                img.src = url
                loader.parentNode.removeChild(loader)
            })
            .catch(error => {
                console.log(`An error occured: ${error}`)
            })
    </script>
{% endblock %}