{% extends "base.html" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='collage.css') }}">
{% endblock %}

{% block content %}
    <a href="{{ url_for('index') }}">Home</a>

    <pre>{{ username }}</pre>

    <a id="save" href="" download="{{ username }}-collage.jpg" hidden>Save Image</a>

    <img id="target" src="" hidden>

    <div id="loader"></div>

    <script type="text/javascript">
        let loader = document.getElementById("loader")
        let img = document.getElementById("target")
        let response = fetch("/img?username={{ username }}&size={{ size }}")
        let save_btn = document.getElementById("save")
        response
            .then(r => r.blob())
            .then(blob => {
                url = URL.createObjectURL(blob)
                console.log(url)
                img.src = url
                img.hidden = false
                if ({{ size }} == 50)
                    img.style.width = "90%"
                loader.parentNode.removeChild(loader)
                save_btn.href = url
                save_btn.hidden = false
            })
            .catch(error => {
                console.log(`An error occured: ${error}`)
            })
    </script>
{% endblock %}