{% extends "base.html" %}


{% block content %}

    <h1>Letterboxd Collage Maker</h1>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <pre>{{ message }}</pre>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form class="form" method="POST">
        <div class="field">
            <input type="text" name="username" placeholder="letterboxd username">
        </div>

        <div class="field">
            <input id="collage-size1" type="radio" name="size" value="25" checked>
            <label for="collage-size1">5x5</label>
            <input id="collage-size2" type="radio" name="size" value="50">
            <label for="collage-size2">10x5</label>
            <input id="collage-size3" type="radio" name="size" value="100">
            <label for="collage-size3">10x10</label>
        </div>

        <div class="field">
            <input type="checkbox" id="shorts" name="shorts" />
            <label for="shorts">Short Films</label>
            <input type="checkbox" id="tv" name="tv" />
            <label for="tv">TV Shows</label>
            <input type="checkbox" id="docs" name="docs" />
            <label for="docs">Documentaries</label>
        </div>

        <button>Submit</button>
    </form>

{% endblock %}
